

* {
    font-family: "Montserrat", sans-serif;
  }
  
  body,
  html {
    height: 100%;
  }
  
  /* The hero image */
  .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.63)),
      url("img/imh.jpeg");
  
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    /* padding: 2rem;
    gap: 1rem;
    display: flex;
    align-items: center; */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hero-text img {
    animation: filter 10s infinite linear;
  }
  
  .hero-text > h1 {
    font-size: 3rem;
    border-bottom: 1px solid orange;
    padding-bottom: 1rem;
    color: orange;
    animation: filter 10s infinite linear;
    font-family: "Syncopate", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
  }

  
/* ANIMATION HERE */

@keyframes filter {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
  
  @media (max-width: 1450px) {
    .main-title {
      margin: 0rem 5rem;
    }
    .links {
      margin: 2rem 4rem;
      gap: 1rem;
    }
    main {
      padding: 0.3rem;
    }
    * {
      font-size: 1rem;
    }
    .main-body img {
      padding-left: 0rem;
    }
  }
  


  td{
    padding: .5rem;
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: lightgray;
    /* color: aliceblue; */
}

tbody tr:nth-child(even){
    background-color: aliceblue;
    /* color: aliceblue; */
}
thead, .subj{
    background-color: beige;
    color: black;
    font-size: large;
}
th, .subj{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#enroll{
    padding: .4rem;
    font-size: large;

}
form{
    text-align: center;
    margin: 1rem;
}
.headclass{
    margin-bottom: 1rem;
}
  
  @media (max-width: 650px) {
    .main-body {
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      text-align: justify;
    }
    .links {
      grid-template-columns: 1fr;
    }
  }

  footer {
    text-align: center;
    padding-bottom: 2rem;
  }
  
  footer div {
    margin: 0.5rem 0rem;
  }